# dependencies
node_modules/

# production build
dist/
dist-ssr/

# local env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# cache
.eslintcache
*.log

# optional: vite cache
.vite/
